{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>


<h2>Quiz for <b>{{ user.username }}<b></h2>







<form method="POST" action="/answer/{{ question.qno }}">
  {% csrf_token %}
  <table>
    <tr>
        <th bgcolor="darkgrey"><u>Que {{ question.qno }}:</u>   {{ question.question }}</th>
    </tr>
    <tr>
        <th>Option A : {{ question.A }}</th>
    </tr>
    <tr>
        <th>Option B : {{ question.B }}</th>
    </tr>
    <tr>
        <th>Option C : {{ question.C }}</th>
    </tr>
    <tr>
       <th>Option D : {{ question.D }}</th>
    </tr>
  </table>

  	<br>
  	<label for="fname">Ans {{ question.qno }}:</label> <input type="text" id="fname" name="answer" maxlength="1"> <input type="submit">

    <br><br><br>
  <a href="/pre/{{ question.qno }}">< Previous..<a>

  <a href="/next/{{ question.qno }}">..Next></a>
  



</form>
<br>
<br>
<br>
<br>

<a href="{% url 'result' %}">Get The Result</a>

<br><br><br>






</body>
{% else %}
{% endif %}
{% endblock %}